.report_stat{}
	.report_stat .graph{
		width: 250px;
		height: 250px;
		margin: 70px auto 30px;
		border-radius: 50%;

		background: #003e6b;
		text-align: center;
	}
		.report_stat .graph .name{
			margin-top: 90px;
			margin-bottom: 20px;
			font-size: 18px;
			color: #425968;
			font-family: 'fa_bold', sans-serif;
			text-transform: uppercase;
		}
		.report_stat .graph .count{
			font-size: 18px;
			color: #898989;
			font-family: 'fa_light', sans-serif;
			text-transform: uppercase;
		}
	.graph_type{

	}
.graph_type_row{
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
	.graph_type_row .color,
	.graph_type_row .name{
		float: left;
	}
	.graph_type_row .name,
	.graph_type_row .stat{
		font-size: 14px;
		color: #898989;
		font-family: 'fa_light', sans-serif;
	}
	.graph_type_row .color{
		margin-right: 20px;
		width: 15px;
		height: 15px;
		border: 1px solid #000;
	}
	.graph_type_row .name{
		
	}
	.graph_type_row .stat{
		float: right;
		text-transform: uppercase;
	}

.report_filter_title{
	position: relative;
}
	.report_filter_title:before,
	.report_filter_title:after{
		content: '';
		display: block;
		width: 430px;
		position: absolute;
		top: 22px;
		
	}
	.report_filter_title:before{ left: 0;  }
	.report_filter_title:after{ right: 0;  }

	.report_filter_title.double:before,
	.report_filter_title.double:after{
		height: 3px;
		border-bottom: 1px solid #dfdfdf;
		border-top: 1px solid #dfdfdf;
	}

	.report_filter_title.single:before,
	.report_filter_title.single:after{
		height: 3px;
		border-top: 1px solid #dfdfdf;
	}

	.report_filter_title.single.white .btn{
		background-color: #fff;
		color: #14629b;
		background-image: url('../img/setting_blue.png');
		background-position: 20px 50%;
		background-repeat: no-repeat;
		-webkit-background-size: 30px;
		background-size: 30px;
		padding-left: 50px;
	}

	.report_filter_title .btn{
		width: 260px;
		position: relative;
		z-index: 2;
		height: 50px;
		line-height: 50px;
	}
	.report_filter_title.blue .btn{
		background-image: url('../img/setting_white.png');
		background-position: 20px 50%;
		background-repeat: no-repeat;
		-webkit-background-size: 30px;
		background-size: 30px;
		padding-left: 50px;
	}

@media(max-width: 991px){
	.report_stat .graph{
		margin-top: 30px;
	}
	.report_stat > div{
		margin-bottom: 25px;
	}
}