/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/*=== GRID ===*/
html{ height: 100%; }
body{ 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; 

  font-size: 14px;
  font-family: 'fa_reg', helvetica, arial, sans-serif;
  overflow-x: hidden;
}

#header{ 
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
#wrapper{
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;

  padding-bottom: 125px;
}
#footer{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.img-responsive{
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.center{
  text-align: center;
}

/* banner */
.core_banner{
  background: url('../img/banner.jpg') no-repeat 50%;

  -webkit-background-size: cover;
  background-size: cover;

  background-attachment: fixed;
  height: 390px;
  overflow: hidden;
}

/* titles */
.page_title{
  font-size: 30px;
  color: #425968;
  font-family: 'fa_bold', sans-serif;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 25px;
}
  .page_title span{
    display: inline-block;
    margin-left: 25px;

    color: #14629b;
  }
.block_title{
  font-size: 18px;
  text-transform: uppercase;
  color: #425968;
  font-family: 'fa_bold', sans-serif;
}

@media(max-width: 991px){
  .core_banner{
    display: none;
  }
}